<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<div style='padding: 20px;' ng-cloak> <p>{{message}}</p> </div>
<!-- end -->
<!-- end -->
<div class="row">
    <div class="col-xs-4">
        <label for="search">Search:</label>
        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
    </div>
    <div class="col-xs-4">
        <label for="search">items per page:</label>
        <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
    </div>
    <div class="col-xs-4">
        <h4>Page No.: {{ currentPage }}</h4>
    </div>
</div>
<br>
<div class="panel panel-default">
<!-- optional for auto complete / suggested value feature   -->
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th ng-click="sort('proj_id')">
                Project ID
                <span class="glyphicon sort-icon" ng-show="sortKey=='proj_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('proj_project_nm')">
                Project Name
                <span class="glyphicon sort-icon" ng-show="sortKey=='proj_project_nm'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('pobj_project_type_cd')">
                Project Type Code
                <span class="glyphicon sort-icon" ng-show="sortKey=='pobj_project_type_cd'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('proj_start_dt')">
                Start Date
                <span class="glyphicon sort-icon" ng-show="sortKey=='proj_start_dt'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('proj_end_dt')">
                End Date
                <span class="glyphicon sort-icon" ng-show="sortKey=='proj_end_dt'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('proj_contact_user_id')">
                User ID
                <span class="glyphicon sort-icon" ng-show="sortKey=='proj_contact_user_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th></th>
            <th><a ng-href="Project/edit/0" class="btn btn-default"> <span class="glyphicon glyphicon-plus"></span> Add New Project </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="p in projects | filter:q | orderBy:sortKey:reverse | itemsPerPage: pageSize" current-page="currentPage">
            <td>{{p.proj_id}}</td>
            <td>{{p.proj_project_nm}}</td>
            <td>{{p.pobj_project_type_cd}}</td>
            <td>{{p.proj_start_dt | date:'MM/dd/yyyy'}}</td>
            <td>{{p.proj_end_dt | date:'MM/dd/yyyy'}}</td>
            <td>{{p.proj_contact_user_id}}</td>
            <td>
                <a ng-href="Project/edit/{{p.proj_id}}" class="btn btn-default"> Edit <i class="fa fa-pencil-square"></i></a>
            </td>
            <td>
                <a href="Project/delete/{{p.proj_id}}" class="glyphicon glyphicon-trash"></a>
            </td>
        </tr>
        </tbody>

    </table>

</div>

<div class="text-">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../../app/controllers/dirPagination.tpl.html"></dir-pagination-controls>
</div>

</div>

</body>
</html>