<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <h2>{{message}} Search</h2>
</head>
<body>
<div ng-controller="SearchController">
    <nit-advanced-searchbox ng-model="searchParams"
                            parameters="availableSearchParams"
                            placeholder="Search...">
    </nit-advanced-searchbox>
    <button class="btn btn-info" ng-click="showOutput = ! showOutput">Search</button>
    <div ng-show="showOutput">
        {{searchParams}}
    </div>
</div>
</body>
